<div id="overlay"></div>
<div class="topnav" id="myTopnav">
    <a href="./hdd">Hard Drive</a>
    <a href="./psu">PSU</a>
    <a href="./case">Case</a>
    <a href="./gpu">Graphics Card</a>
    <a href="./motherboard">Motherboard</a>
    <a href="./cpu">CPU</a>
    <a href="index.html">Home</a>
    <div class="dropdown">

    </div>
</div>